[Unit]
Description=Gents's distributed currency daemon
After=network.target

[Service]
User=gents
Group=gents

Type=forking
PIDFile=/var/lib/gentsd/gentsd.pid

ExecStart=/usr/bin/gentsd -daemon -pid=/var/lib/gentsd/gentsd.pid \
          -conf=/etc/gents/gents.conf -datadir=/var/lib/gentsd

ExecStop=-/usr/bin/gents-cli -conf=/etc/gents/gents.conf \
         -datadir=/var/lib/gentsd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
